<!-- <div class="container"> -->
  <!-- <img src="assets/jumbo_back_sil.png" alt=""> -->
  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#top">
              <!-- <img style="float:left" class="img-responsive pull-left" src="/assets/traveltmate_logo_wh.png"></img> -->
              <img style="float:left" class="img-responsive pull-left" src="/assets/traveltmatefullor.png"></img>
            </a>
          </div> <!-- /.navbar-header -->

          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul id="menu" class="nav navbar-nav navbar-right">
              <li><a href="#benefits" class="nav-link">benefits</a></li>
              <li><a href="#necessity" class="nav-link">necessity</a></li>
              <li><a href="#how" class="nav-link">how it works?</a></li>
              <li><a href="#features" class="nav-link">features</a></li>
              <li><a href="#contact">contact us</a></li>
              <!-- <li><button class="btn btn-default navbar-btn">Sign Up</button></li> -->
            </ul>
          </div> <!-- /.navbar-collapse -->
        </div> <!-- /.container -->
  </nav> <!-- /.navbar -->

  <div id="top" class="jumbotron">
    <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-6 hidden-sm hidden-xs center-block img-responsive">
            <img class="jumbo-image img-responsive" src="assets/SplashScreenshot.png" alt="">
          </div><!-- /col-lg-6 -->

          <div class="col-lg-8 col-md-6">
            <h1>travelTmate</h1>
            <h2>an ulTmate app to inTmate.</h2>
            <h3>automate your regular boring intimations to your buddies when you travel.</h3>
            <h3>set up wake up alarms based on location / place.</h3>
        	  <p><a class="btn btn-default btn-xs">Find out more</a></p> <!--<span class="glyphicon glyphicon-hand-right"></span></a></p> -->
            <br>
            <br>
          </div> <!-- /.col-lg-6 -->

        </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div> <!-- /.jumbotron -->
<!-- </div> -->

<div class="container">
  
  <!-- **************  Benefits ************************ -->
  <h3 id="benefits" class="subhead">benefits</h3>
      <div class="row">
        <div class="col-md-4 col-sm-6 benefit">
          <div class="benefit-ball">
            <span class="glyphicon glyphicon-home"></span>
          </div>
          <h4>Stay connected</h4>
          <p>Never lose touch with your buddies when you travel.</p>
        </div> <!-- /.benefit -->

        <div class="col-md-4 col-sm-6 benefit">
          <div class="benefit-ball">
            <span class="glyphicon glyphicon-bell"></span>
          </div>
          <h4>Snooze off</h4>
          <p>No need to have a wake up alarm 30 mins before your destination and keep waiting to offboard.</p>
        </div> <!-- /.benefit -->

        <div class="col-md-4 col-sm-6 benefit">
          <div class="benefit-ball">
            <span class="glyphicon glyphicon-headphones"></span>
          </div>
          <h4>Handsfree</h4>
          <p>No more frequent calls or sms on your whereabouts, when you are driving in traffic.</p>
        </div> <!-- /.benefit -->

        <div class="col-md-4 col-sm-6 benefit">
          <div class="benefit-ball">
            <span class="glyphicon glyphicon-map-marker"></span>
          </div>
          <h4>Keep people informed</h4>
          <p>Share your location updates with your close friends and family.</p>
        </div> <!-- /.benefit -->

        <div class="col-md-4 col-sm-6 benefit">
          <div class="benefit-ball">
            <span class="glyphicon glyphicon-time"></span>
          </div>
          <h4>Just in time</h4>
          <p>Waiting for long to receive your friend or relative in stations and bus stops?? - Not any more!!</p>
        </div> <!-- /.benefit -->

        <div class="col-md-4 col-sm-6 benefit">
          <div class="benefit-ball">
            <span class="glyphicon glyphicon-thumbs-up"></span>
          </div>
          <h4>Know your journey</h4>
          <p>If you dont know when u will reach your destination, no worries.</p>
        </div> <!-- /.benefit -->
      </div> <!-- /.row -->

      <div class="sect-border"></div>

  <!-- *************** necessity ************************ -->
  <h3 id="necessity" class="subhead">necessity</h3>
  <h2 class="subhead-tag">is this app for you? find out...</h2>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 content-text">
          <!-- <p class="text-justify">Have you ever felt to share your current location to friends / family members automatically when you are in your travel. TravelTmate is the way forward which will be your complete travel companion.</p> -->
          <p class="text-justify">During travel, have you ever wished if your mobile could periodically share the current location to friends/family without your intervention. travelTmate has fulfilled your wish now.</p>
          <!-- <p class="text-justify">TravelTmate, an android app, achieves this by helping you to share your location during ur travel with just few clicks.Not just this, set up a wake up alarm for your destination and travel tension free.</p>-->
          <p class="text-justify">travelTmate, is primarily designed for tension free travel (both for you and your dear ones). Setup wake-up alarms not based on time, but based on real time positioning. It is currently available only on android.</p>
          <!-- <p class="text-justify">When you are driving your car /bike,just set your traveltmate once and you need not pick your phone for the rest of your travel to intimate your whereabouts to your near and dear.Keep your buddies updated and they will not bother you.</p> -->
          <p class="text-justify">While driving car/byke, set your travelTmate once and let your phone initimate your locations to the near and dear. Your phone / travelTmate will notify your buddies and they will stop asking the question "Where are you now?"</p>
          <!-- <p class="text-justify">And the good news is,the communication is through your sms service and it is not necessary for your buddy to have this app.</p> -->
          <p class="text-justify">The receivers need not install any software, as travelTmate notifies using SMS. Your receivers can use a feature phone or be on apple devices.</p>
          <p class="text-justify">With lots of capabilities and features and a simple User Interface ,travelTmate is ur ulTmate app to inTmate your buddies!!</p>
          <p class="well text-center">So what are you waiting for?? Click here to get your own travelTmate and have a happy and safe travel everytime..</p>
        </div> <!-- /.col-md-10 -->
      </div> <!-- /.row -->

      <div class="sect-border"></div>

  <!-- *************** How it works? ************************ -->
  <h3 id="how" class="subhead">how it works?</h3>
  <h2 class="subhead-tag">Under Construction...</h2>
  <br>
    <div class="container">
      <div class="row" >
 
        <div class="col-md-3">
          <img id="plan-travel" class="img-center center-block img-responsive" src="/assets/howto-plan-a-travel-final.png">
          <img id="travel-down" class="img-center center-block img-responsive hidden" src="/assets/down_arrow.png">
        </div>
        
        <div class="col-md-1">
          <img class="center-block img-responsive" src="/assets/next_arrow.png">
        </div>
        
        <div class="col-md-3">
          <img id="reg-intimation" class="img-center center-block img-responsive" src="/assets/howto-regular-intimation-final.png">
          <img id="intimation-down" class="img-center center-block img-responsive hidden" src="/assets/down_arrow.png">
        </div>

        <div class="col-md-1">
          <img class="img-center center-block img-responsive" src="/assets/next_arrow.png">
        </div>

        <div class="col-md-3">
          <img id="reach-alert" class="img-center center-block img-responsive" src="/assets/howto-alert-on-reach-final.png">
          <img id="alert-down" class="img-center center-block img-responsive hidden" src="/assets/down_arrow.png">
        </div>
      </div> <!-- /.row -->

      <div class="row">
        <div id="travel-series" class="col-md-12 hidden">
          <img class="img-left center-block img-responsive" src="/assets/plan-travel-series-box.png">
        </div>
      </div> <!-- /.row -->

    </div> <!-- /.container -->

  <div class="sect-border"></div>

  <!-- *************** Features ************************ -->
  <h3 id="features" class="subhead">features</h3>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 content-text">
          <p class="text-justify">Under Construction</p>
        </div> <!-- /.col-md-10 -->
      </div> <!-- /.row -->

      <div class="sect-border"></div>

  <!-- *************** Contact us ************************ -->
  <h3 id="contact" class="subhead">contact us</h3>
      <div class="row">
        <div class="col-md-10 col-md-offset-1 content-text">
          <p class="text-justify">Under Construction</p>
        </div> <!-- /.col-md-10 -->
      </div> <!-- /.row -->

      <div class="sect-border"></div>

	</div>


    <footer>
      <div class="container clearfix">
        <p class="pull-left">
          Copyright &copy; travelTmate
        </p>
        
      </div> <!-- /.container -->
    </footer>

    <script>
      $(".nav-link").click(function(e) {
        e.preventDefault();
        var link = $(this);
        var href = link.attr("href");
        $("html,body").animate({scrollTop: $(href).offset().top - 80}, 500);
        link.closest(".navbar").find(".navbar-toggle:not(.collapsed)").click();

      });

      $(window).scroll(function() {
        if ($(".navbar").offset().top > 50) { // 500 -> arrived from jumbotron height.
          $(".navbar-fixed-top").addClass("nav-scroll");
          //$("menu").addClass("nav-link-scroll")
        } else {
          $(".navbar-fixed-top").removeClass("nav-scroll");
          //$("menu").removeClass("nav-link-scroll");
        }
      });

      $('#plan-travel').click(function(e) {
        //e.preventDefault();
        $('#intimation-down').addClass("hidden");
        $('#alert-down').addClass("hidden");

        if( $('#travel-down').hasClass("hidden") ){
          $('#travel-down').removeClass("hidden");
          $('#travel-series').removeClass("hidden");
        } else {
          $('#travel-down').addClass("hidden");
          $('#travel-series').addClass("hidden");
        }
        
      });

      $('#reg-intimation').click(function(e) {
        //e.preventDefault();
        $('#travel-down').addClass("hidden");
        $('#travel-series').addClass("hidden");

        $('#alert-down').addClass("hidden");
        

        if( $('#intimation-down').hasClass("hidden") ){
          $('#intimation-down').removeClass("hidden");
        } else {
          $('#intimation-down').addClass("hidden");
        }
        
      });

      $('#reach-alert').click(function(e) {
        //e.preventDefault();
        $('#intimation-down').addClass("hidden");

        $('#travel-down').addClass("hidden");
        $('#travel-series').addClass("hidden");
        

        if( $('#alert-down').hasClass("hidden") ){
          $('#alert-down').removeClass("hidden");
        } else {
          $('#alert-down').addClass("hidden");
        }
        
      });

    </script>
