<!-- <div class="container"> -->
  <!-- <img src="assets/jumbo_back_sil.png" alt=""> -->
  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#top">
              <img style="float:left" class="img-responsive pull-left" src="/assets/traveltmate_logo_wh.png"></img>
              <!-- <img style="float:left" class="img-responsive pull-left" src="/assets/traveltmatefullor.png"></img> -->
            </a>
          </div> <!-- /.navbar-header -->

          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul id="menu" class="nav navbar-nav navbar-right">
              <!-- <li><a href="#benefits" class="nav-link">benefits</a></li> -->
              <li><a href="#about" class="nav-link">about</a></li>
              <li><a href="#features" class="nav-link">features</a></li>
              <li><a href="#how" class="nav-link">how it works?</a></li>
              <li><a href="#contact">contact us</a></li>
              <!-- <li><button class="btn btn-default navbar-btn">Sign Up</button></li> -->
            </ul>
          </div> <!-- /.navbar-collapse -->
        </div> <!-- /.container -->
  </nav> <!-- /.navbar -->

  <div id="top" class="jumbotron">
    <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-6 hidden-sm hidden-xs center-block img-responsive">
            <img class="jumbo-image img-responsive" src="assets/SplashScreenshot.png" alt="">
          </div><!-- /col-lg-6 -->

          <div class="col-lg-8 col-md-6">
            <h1>travel<i>T</i>mate</h1>
            <h2>an ul<i>T</i>mate app to in<i>T</i>mate.</h2>
            <br>
            <h3>automate your regular intimations to your buddies when you travel.</h3>
            <h3>set up wake up alarms based on location / place.</h3>
        	  <!-- <p><a class="btn btn-default btn-xs">Find out more</a></p> --> <!--<span class="glyphicon glyphicon-hand-right"></span></a></p> -->
            <br>
            <br>
          </div> <!-- /.col-lg-6 -->

        </div> <!-- /.row -->
    </div> <!-- /.container -->
  </div> <!-- /.jumbotron -->
<!-- </div> -->

<!-- <div class="container">  -->

  <!-- *************** about ************************ -->
  <div id="about-container">
  <h3 id="about" class="subhead">about</h3>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 content-text">
          <p class="text-justify">Have you ever wished if your mobile could periodically share your location to your close friends / family. When you are out of station on a business tour, or roaming around your with your friends, it becomes an overhead and also a commitment to keep your closed ones updated on your whereabouts. </p>
          <p class="text-justify"><b>travelTmate</b>, is primarily designed for tension free travel (both for you and your dear ones).</p>
          <p class="text-justify"><b>Does it cost?</b> travelTmate is absolutely free and will be available soon in google play store. However the carrier cost of SMS that travelTmate sends from your mobile is borne by you. </p>
      </div> <!-- /.col-md-9 -->
      <div class="col-md-2"></div>
     </div> <!-- /.row -->

     <br>

  </div> <!-- /.about-container -->


<!-- *************** Features ************************ -->
  <div id="features-container">
    <h3 id="features" class="subhead">features</h3>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <p class="feature-sub-head">For the Traveller</p>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <p class="feature-sub-head">For the Buddy</p>
      </div>
      <div class="col-md-1"></div>


    </div>

    <div class="row">
      <div class="col-md-1"></div>

      <div class="panel-group col-md-4" id="accordion-left">
        <div class="panel panel-default">
          <div class="panel-heading accordion-toggle">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-left" href="#collapseOne">
                <span class="glyphicon glyphicon-plus"></span>
                Location based alarms
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <p class="feature-bene-head">Helps you get good sleep</p>
              <p>Set up alarm based on location and wake up at the right time before your destination.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-left" href="#collapseTwo">
                <span class="glyphicon glyphicon-plus"></span> 
                Works with just data connectivity
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <p class="feature-bene-head">Save battery when you travel</p>
              <p>travelTmate works well with just a data connectivity. It does not require greedy GPS to function.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-left" href="#collapseThree">
                <span class="glyphicon glyphicon-plus"></span> 
                Reschedule alarms
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <p class="feature-bene-head">Save time for a routine travel</p>
              <p>Save time by scheduling a repetitive alarm which can run at pre scheduled timings. Hence no need to create an alarm everytime you go to work / college.</p>
            </div>
          </div>
        </div>
        
      </div> <!-- /.panel-group -->

      <div class="col-md-2"></div>

      <div class="panel-group col-md-4" id="accordion-right">
        
        <div class="panel panel-default">
          <div class="panel-heading accordion-toggle">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-right" href="#collapseFour">
                <span class="glyphicon glyphicon-plus"></span>
                Receive periodical location intimation
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
              <p class="feature-bene-head">Keep your buddies informed</p>
              <p>Regular location intimation, helps buddies to pick up / meet at the right time.</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-right" href="#collapseFive">
                <span class="glyphicon glyphicon-plus"></span> 
                Intimation via SMS
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
              <p class="feature-bene-head">Buddy does not need a smartphone</p>
              <p>Location intimations can be sent via SMS, hence no need for the buddy to have a smart phone or travelTmate installed.</p>
            </div>
          </div>
        </div>
        
      </div> <!-- /.panel-group -->

      <div class="col-md-1"></div>

      
    </div> <!-- /.row -->
    <br>
    <br>
  </div> <!-- /.feature-container -->

<!-- *************** How it works? ************************ -->
  <div id="how-container">

    <h3 id="how" class="subhead">how it works?</h3>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 content-text">
        <p class="text-justify">Click on panels to learn more about travelTmate</p>
        <br>
      </div>
    </div> <!-- /.row for subhead -->

    <div class="row" >
      <div class="col-md-2"></div>

      <div class="col-md-2">
        <img id="plan-travel" class="img-center center-block img-responsive" src="/assets/howto-plan-a-travel-final.png">
        <img id="travel-down" class="img-center center-block img-responsive hidden" src="/assets/down_arrow.png">
      </div>
      
      <div class="col-md-1">
        <img class="center-block img-responsive" src="/assets/next_arrow.png">
      </div>
      
      <div class="col-md-2">
        <img id="reg-intimation" class="img-center center-block img-responsive" src="/assets/howto-regular-intimation-final.png"2>
        <img id="intimation-down" class="img-center center-block img-responsive hidden" src="/assets/down_arrow.png">
      </div>

      <div class="col-md-1">
        <img class="img-center center-block img-responsive" src="/assets/next_arrow.png">
      </div>

      <div class="col-md-2">
        <img id="reach-alert" class="img-center center-block img-responsive" src="/assets/howto-alert-on-reach-final.png">
        <img id="alert-down" class="img-center center-block img-responsive hidden" src="/assets/down_arrow.png">
      </div>

      <div class="col-md-2"></div>

    </div> <!-- /.row for panel images -->
    <br>

    <div id="travel-box" class="row hidden">

      <div class="col-md-4 col-md-offset-1 content-text">
        <ul id="travel-text-slider" class="bxslider">
          <li>
            <div class="clearfix">
              <h1>Create a New Alarm</h1>
            </div>
          </li>
          <li>
            <div class="clearfix">
              <h1>Select your start and destination place</h1>
            </div>
          </li> 
          <li>
            <div class="clearfix">
              <h1>Select start time of your travel</h1>
            </div>
          </li>
          <li>
            <div class="clearfix">
              <h1>Select buddy to whom you have to intimate</h1>
            </div>
          </li>
          <li>
            <div class="clearfix">
              <h1>Set the frequency for intimation</h1>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-md-6">
        <ul id="travel-slider" class="bxslider">
          <li><img src="/assets/NewAlarm.png"/></li>
          <li><img src="/assets/ListPlaces.png"/></li>
          <li><img src="/assets/SelectTime.png"/></li>
          <li><img src="/assets/ListBuddies.png"/></li>
          <li><img src="/assets/SelectFrequency.png"/></li>
        </ul>
      </div>

      <div class="col-md-2"></div>

    </div> <!-- /.row for travel box -->

    <div id="intimation-box" class="row hidden">

      <div class="col-md-4 col-md-offset-1 content-text">
        <ul id="intimation-text-slider" class="bxslider">
          <li>
            <div class="clearfix">
              <h1>travelTmate polls your current location</h1>
            </div>
          </li>
          <li>
            <div class="clearfix">
              <h1>Intimates the buddy through SMS</h1>
            </div>
          </li> 
        </ul>
      </div>

      <div class="col-md-6">
        <ul id="intimation-slider" class="bxslider">
          <li><img src="/assets/ViewAlarmTop.png" /></li>
          <li><img src="/assets/MessageDetail.png" /></li>
        </ul>
      </div>

      <div class="col-md-2"></div>

    </div> <!-- /.row for intimation box -->

    <div id="alert-box" class="row hidden">

      <div class="col-md-4 col-md-offset-1 content-text">
        <ul id="alert-text-slider" class="bxslider">
          <li>
            <div class="clearfix">
              <h1>Checks whether the destination is reached at every polling</h1>
            </div>
          </li>
          <li>
            <div class="clearfix">
              <h1>Initiates alarm once destination is reached</h1>
            </div>
          </li>
          <li>
            <div class="clearfix">
              <h1>Sends out destination reached message to your buddy</h1>
            </div>
          </li> 
        </ul>
      </div>

      <div  class="col-md-6">
        <ul id="alert-slider" class="bxslider">
          <li><img src="/assets/ViewAlarmTop.png" /></li>
          <li><img src="/assets/InitiateAlarm.png" /></li>
          <li><img src="/assets/ReachedMessage.png" /></li>
          <li><img src="/assets/AlarmCompleted.png" /></li>
        </ul>
      </div>

      <div class="col-md-2"></div>

    </div> <!-- /.row for alert box -->

  </div> <!-- /.how-container -->

<!-- *************** Contact Us ************************ -->
  <div id="contact-container">

    <h3 id="contact" class="subhead">contact us</h3>
    <h4 class="subhead-tag">You will be able to contact us soon</h4>
    <br>
    <br>
    <br>
    <br>
    <br>

  </div>


  <script>

    $(".nav-link").click(function(e) {
      e.preventDefault();
      var link = $(this);
      var href = link.attr("href");
      $("html,body").animate({scrollTop: $(href).offset().top - 80}, 500);
      link.closest(".navbar").find(".navbar-toggle:not(.collapsed)").click();

    });

    var travelSlider;
    var intimationSlider;
    var alertSlider;

    var travelTextSlider;
    var intimationTextSlider;
    var alertTextSlider;


    $(document).ready(function(){
      travelSlider = $('#travel-slider').bxSlider({
        auto: true,
        autoControls: true,
        slideWidth: 230,
        pager: false
      });
      intimationSlider = $('#intimation-slider').bxSlider({
        auto: true,
        autoControls: true,
        slideWidth: 230,
        pager: false
      });
      alertSlider = $('#alert-slider').bxSlider({
        auto: true,
        autoControls: true,
        slideWidth: 230,
        pager: false
      });

      travelTextSlider = $('#travel-text-slider').bxSlider({
        auto: true,
        autoControls: true,
        pager: false
      });
      intimationTextSlider = $('#intimation-text-slider').bxSlider({
        auto: true,
        autoControls: true,
        pager: false
      });
      alertTextSlider = $('#alert-text-slider').bxSlider({
        auto: true,
        autoControls: true,
        pager: false
      });

    });


    $('#plan-travel').click(function(e) {

      $('#intimation-down').addClass("hidden");
      $('#intimation-box').addClass("hidden");

      $('#alert-down').addClass("hidden");
      $('#alert-box').addClass("hidden");
       
      if( $('#travel-down').hasClass("hidden") ){
        $('#travel-down').removeClass("hidden");
        $('#travel-box').removeClass("hidden");
        travelSlider.reloadSlider();
        travelTextSlider.reloadSlider();
      } else {
        $('#travel-down').addClass("hidden");
        $('#travel-box').addClass("hidden");
      }
        
    });

    $('#reg-intimation').click(function(e) {

      $('#travel-down').addClass("hidden");
      $('#travel-box').addClass("hidden");

      $('#alert-down').addClass("hidden");
      $('#alert-box').addClass("hidden");

      if( $('#intimation-down').hasClass("hidden") ){
        $('#intimation-down').removeClass("hidden");
        $('#intimation-box').removeClass("hidden");
        intimationSlider.reloadSlider();
        intimationTextSlider.reloadSlider();
      } else {
        $('#intimation-down').addClass("hidden");
        $('#intimation-box').addClass("hidden");
      }
        
    });

    $('#reach-alert').click(function(e) {
      $('#intimation-down').addClass("hidden");
      $('#intimation-box').addClass("hidden");

      $('#travel-down').addClass("hidden");
      $('#travel-box').addClass("hidden");

      if( $('#alert-down').hasClass("hidden") ){
        $('#alert-down').removeClass("hidden");
        $('#alert-box').removeClass("hidden");
        alertSlider.reloadSlider();
        alertTextSlider.reloadSlider();
      } else {
        $('#alert-down').addClass("hidden");
        $('#alert-box').addClass("hidden");
      }
      
    });

    $('.collapse').on('shown.bs.collapse', function(){
      $(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
    }).on('hidden.bs.collapse', function(){
      $(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
    });



  </script>


  