// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face {
    font-family: "glametrixbold";
    src: url(/assets/GlametrixBold.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "glametrix";
    src: url(/assets/Glametrix.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "opificio";
  font-style: normal;
  font-weight: normal;
  src: font_url(/assets/Opificio-neue-regular.ttf), font_url(/assets/Opificio-neue-regular.eot);
}

@font-face {
    font-family: "Simpetico";
    src: font_url(/assets/Simpetico.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: "gandhi sans";
  font-style: normal;
  font-weight: 400;
  src: font_url(/assets/gandhi-sans.ttf), font_url(/assets/gandhi-serif.eot);
}
@font-face {
  font-family: "gandhi sans";
  font-style: normal;
  font-weight: 700;
  src: font_url(/assets/gandhi-bold-sans.ttf), font_url(/assets/gandhi-bold-sans.eot);
}
@font-face {
  font-family: "gandhi serif";
  font-style: normal;
  font-weight: 400;
  src: font_url(/assets/gandhi-serif.ttf), font_url(/assets/gandhi-serif.eot);
}
@font-face {
  font-family: "gandhi serif";
  font-style: normal;
  font-weight: 700;
  src: font_url(/assets/gandhi-bold-serif.ttf), font_url(/assets/gandhi-bold-serif.eot);
}
body {
  font-size: 15px;
  /*background-color: #45B180;*/
  color: #464749;
  
}
body, h1, h2, h3, h4, h5, h6 {
  font-family: "glametrix", "gandhi sans", helvetica, sans-serif;
}
.btn {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}

 #about-container {
  background-color: #ffffff;
  box-sizing: content-box;

} 
#how-container {
  background-color: #ffffff;
  box-sizing: content-box;
}
#features-container {
  background-color: #52bb8b;
  color: #d8d8d8;
  box-sizing: content-box;
}

#features-container h3 {
  color: #8e2600;
}

#contact-container {
  background-color: #52bb8b;
  color: #d8d8d8;
  box-sizing: content-box;
}

#contact-container h3,h4 {
  color: #8E2600;
}


.navbar {
  /*background: transparent; */
  background: #E74d14;
  padding: 0;
  border: 0;
}
.nav-scroll {
  /* background: #f8f8f6; */
  background: #E74d14;
}

.navbar .navbar-brand {
  overflow: visible;
  padding-top: 0em;
  padding-bottom: 0.5em;
  margin: 0;
  font-family: "Simpetico", "gandhi serif", georgia, serif;
  font-style: bold;
  /*color: #464749; */
  color: #d8d8d8;
}
.navbar ul.nav li a {
  padding-left: 0;
  padding-right: 0;
  margin: 0 1.5em;
  text-align: center;
  padding-top: 2em;
  font-family: "Simpetico", "gandhi serif", georgia, serif;
  color: #d8d8d8;
  /* color: #48616E; */
  font-style: bold;
  font-size: 1.6em;
}
.navbar ul.nav li button {
  margin: 1.6em 0 0 1em;
  font-size: 1.3em;
}

.navbar ul.nav li a:hover {
  color: #8E2600;
}
.navbar ul.nav li a:focus {
  color: #8E2600;
}
.btn.btn-default {
    color: #52bb8b;
    background-color: #006235;
    /* background-image: linear-gradient(to bottom, #464749, #464749); */
    border-color: #067d47 #067d47 #067d47;
}
.btn.btn-default:hover {
    color: #006235;
    background-color: #52bb8b;
    /* background-image: linear-gradient(to bottom, #cf4412, #cf4412); */
    border-color: #067d47 #067d47 #067d47;;
}

.btn.btn-grey {
  color: #ffffff;
  background-color: transparent;
  /* background-image: linear-gradient(to bottom, #58595b, #3f3f41); */
  border-color: #464749 #464749 #464749;
}

.jumbotron {
  background-image: url(/assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  /*background-color: #F27445; 
  background: transparent; */
  color: #d8d8d8;
  padding-top: 4em;
  padding: 6em 1em 3em;
  height: 600px;
  /*height: 26em;
   text-align: left;*/
}
.jumbo-image {
  padding-top: 20px;
}
.jumbotron h1 {
  font-family: "Simpetico", "gandhi serif", georgia, serif;
  font-size: 3.5em;
  font-weight: bold;
  /* text-shadow: 1px 1px 3px #e5e5e5; */
  /* text-shadow: 1px 1px 3px #E95E2B; */
  /* color: #8e2600; */
  color: #ffffff;
}
.jumbotron h2 {
  font-family: "Glametrix", "gandhi serif", georgia, serif;
  font-size: 1.5em;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  color: #d8d8d8;
  /* color: #48616E; */
}
.jumbotron h3 {
  font-family: "Glametrix", "gandhi serif", georgia, serif;
  color: #d8d8d8;
  font-size: 1.5em;
}
.jumbotron .btn {
  /* box-shadow: 1px 1px 3px #000; */
  font-size: 1.2em;
  font-weight: bold;
  padding: 0em 0.5em 0em;
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); */

}
.jumbotron .btn .glyphicon {
  margin-left: 0.2em;
  position: relative;
  top: 3px;
}
.sect-border {
  border-top: 1px dashed #d6d6d6;
  border-bottom: 1px dashed #f6f6f6;
  margin: 2em 8% 2.4em;
}
.subhead {
  /*color: #E74D14;*/
  font-family: "glametrix", "gandhi serif", georgia, serif;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  margin: 0.3em 0;
}


.subhead-tag {
  font-family: "glametrix", "gandhi serif", georgia, serif;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
.content-text {
  font-size: 1.5em;
}

.in-well {
  color: #d8d8d8;
}

.benefit {
  margin: 0.8em 0;
  text-align: center;
}
.benefit .benefit-ball {
  background: #e74d14;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  line-height: 1em;
  padding: 2em;
}
.benefit .benefit-ball .glyphicon {
  font-size: 3.5em;
  position: relative;
  top: -3px;
  right: 1px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.benefit h3 {
  color: #000;
  font-family: "gandhi serif", georgia, serif;
  font-size: 2em;
  font-weight: bold;
}
.benefit h4 {
  font-size: 2em;
  font-weight: bold;
}
.benefit p {
  font-size: 1.5em;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.img-left {
  display: block;
  margin-left: 2em;
  padding-left: 2em;
}

.well {
  background-color: #464749;
}

.travel-hover {
  visibility: visible;
}

.travel-text {
  text-align: left;
  font-style: bold;
  font-size: 1.5em;
}

.travel-desc {
  background-color: #e74d14;
}

#travel-text-slider div h1{
  font-size: 2.5em;
  font-style: bold;
  font-weight: 400;
}

#travel-box {
  margin: 0 8em 0 8em;
  padding: 1em 1em 1em 1em;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: #d8d8d8;
  background: #ffffff;
}

#intimation-text-slider div h1{
  font-size: 2.5em;
  font-style: bold;
  font-weight: 400;
}

#intimation-box {
  margin: 0 8em 0 8em;
  padding: 1em 1em 1em 1em;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: #d8d8d8;
  background: #ffffff;
}

#alert-text-slider div h1{
  font-size: 2.5em;
  font-style: bold;
  font-weight: 400;
}

#alert-box {
  margin: 0 8em 0 8em;
  padding: 1em 1em 1em 1em;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: #d8d8d8;
  background: #ffffff;
}


.bx-wrapper .bx-viewport  {
    box-shadow: 0 0 0 0;
    border: 0;
}

.accordion-toggle:hover {
  text-decoration: none;
}
.accordion-toggle:focus {
  text-decoration: none;
}

#accordion-left .panel{
  border: 0;
  border-color: #d8d8d8;

}

#accordion-right .panel{
  border: 0;
  border-color: #d8d8d8;

}

#accordion-left .panel-heading {
  /*background: #E74D14; */
  background: #8e2600;
  /*border-bottom: 1px solid;
  border-bottom-color: #d8d8d8;  */
}

#accordion-right .panel-heading {
  background: #8e2600;
  /*border-bottom: 1px solid;
  border-bottom-color: #d8d8d8;  */

}

#accordion-left .panel-title {
  color: #d8d8d8;
  font-style: bold;
  font-size: 1.5em;
}

#accordion-right .panel-title {
  color: #d8d8d8;
  font-style: bold;
  font-size: 1.5em;
}

#accordion-left .panel-title .glyphicon{
  color: #d8d8d8;
  font-style: bold;
  font-size: 0.5em;
}

#accordion-right .panel-title .glyphicon{
  color: #d8d8d8;
  font-style: bold;
  font-size: 0.5em;
}

#accordion-left .panel-body {
  border-color: #8e2600;
  background: #52bb8b;
  color: #464749;
  font-size: 1.5em;
}

#accordion-right .panel-body {
  border-color: #8e2600;
  background: #52bb8b;
  color: #464749;
  font-size: 1.5em;
}

.feature-bene-head {
  font-size: 1.5em;
  padding-left: 1em;
}

.feature-sub-head {
  font-size: 3em;
  text-align: center;
  color: #8e2600;
}


#slideshow {
  margin: 0.5em 0 1.5em;
}

#slideshow .carousel-inner img {
  background: #000;
  height: 500px;
  width: 100%;
}
footer {
  background: #464749;
  color: #fff;
  margin: 3.5em 0 0;
  padding: 1.5em 0 0.8em;
}
@media screen and (max-width: 768px) {
  .navbar ul.nav li {
    text-align: center;
  }
  .navbar ul.nav li button {
    margin: 1em 0;
  }
  .jumbotron {
    font-size: 14px;
    padding: 6em 0 4em;
  }
  .benefit {
    margin-bottom: 2em;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
  .jumbotron {
    font-size: 12px;
  }
  footer .pull-right {
    display: none;
  }
}
