// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face {
    font-family: "Sparkler";
    src: font_url(/assets/Sparkler-demo.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Simpetico";
    src: font_url(/assets/Simpetico.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: "gandhi sans";
  font-style: normal;
  font-weight: 400;
  src: font_url(/assets/gandhi-sans.ttf), font_url(/assets/gandhi-serif.eot);
}
@font-face {
  font-family: "gandhi sans";
  font-style: normal;
  font-weight: 700;
  src: font_url(/assets/gandhi-bold-sans.ttf), font_url(/assets/gandhi-bold-sans.eot);
}
@font-face {
  font-family: "gandhi serif";
  font-style: normal;
  font-weight: 400;
  src: font_url(/assets/gandhi-serif.ttf), font_url(/assets/gandhi-serif.eot);
}
@font-face {
  font-family: "gandhi serif";
  font-style: normal;
  font-weight: 700;
  src: font_url(/assets/gandhi-bold-serif.ttf), font_url(/assets/gandhi-bold-serif.eot);
}
body {
  font-size: 14px;
}
body, h1, h2, h3, h4, h5, h6 {
  font-family: "gandhi sans", helvetica, sans-serif;
}
.btn {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}
.navbar {
  background: #ffffff;
  padding: 0;
  border: 0;
}
.navbar .navbar-brand {
  overflow: visible;
  padding-top: 0.3em;
  padding-bottom: 0.5em;
  margin: 0;
  font-family: "Simpetico", "gandhi serif", georgia, serif;
  font-style: bold;
  color: #e74d14;
}
.navbar ul.nav li a {
  padding-left: 0;
  padding-right: 0;
  margin: 0 1.5em;
  text-align: center;
  padding-top: 2em;
  font-family: "Simpetico", "gandhi serif", georgia, serif;
  color: #e74d14;
  font-style: bold;
  font-size: 1.3em;
}
.navbar ul.nav li button {
  margin: 1.6em 0 0 1em;
  font-size: 1.3em;
}

.btn.btn-default {
    color: #ffffff;
    background-color: #e74c14;
    background-image: linear-gradient(to bottom, #e94e2b, #cf4412);
    border-color: #e74c14 #e74c14 #e74c14;
}
.btn.btn-default:hover {
    color: #ffffff;
    background-color: #cf4412;
    background-image: linear-gradient(to bottom, #cf4412, #cf4412);
    border-color: #e74c14 #e74c14 #e74c14;
}

.btn.btn-grey {
  color: #ffffff;
  background-color: #464749;
  background-image: linear-gradient(to bottom, #58595b, #3f3f41);
  border-color: #464749 #464749 #464749;
}

.jumbotron {
  background-color: #e74d14;
  color: #ffffff;
  padding: 6.5em 0 3em;
  text-align: center;
}
.jumbotron h1 {
  font-family: "Simpetico", "gandhi serif", georgia, serif;
  font-size: 3.5em;
  font-weight: bold;
  text-shadow: 1px 1px 3px #000;
}
.jumbotron h2 {
  font-family: "Simpetico", "gandhi serif", georgia, serif;
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  line-height: 1.4em;
  margin-bottom: 1.4em;
}
.jumbotron h3 {
  font-family: "Simpetico", "gandhi serif", georgia, serif;
}
.jumbotron .btn {
  box-shadow: 1px 1px 3px #000;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.3em 2.5em 0.5em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.jumbotron .btn .glyphicon {
  margin-left: 0.2em;
  position: relative;
  top: 3px;
}
.sect-border {
  border-top: 1px dashed #d6d6d6;
  border-bottom: 1px dashed #f6f6f6;
  margin: 2em 8% 2.4em;
}
.subhead {
  color: #e74d14;
  font-family: "gandhi serif", georgia, serif;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin: 0.3em 0;
}
.benefit {
  margin: 0.8em 0;
  text-align: center;
}
.benefit .benefit-ball {
  background: #e74d14;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  line-height: 1em;
  padding: 3em;
}
.benefit .benefit-ball .glyphicon {
  font-size: 4em;
  position: relative;
  top: -3px;
  right: 1px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.benefit h3 {
  color: #000;
  font-family: "gandhi serif", georgia, serif;
  font-size: 2em;
  font-weight: bold;
}
#slideshow {
  margin: 0.5em 0 1.5em;
}
#slideshow .carousel-inner img {
  background: #000;
  height: 500px;
  width: 100%;
}
footer {
  background: #464749;
  color: #fff;
  margin: 3.5em 0 0;
  padding: 1.5em 0 0.8em;
}
@media screen and (max-width: 768px) {
  .navbar ul.nav li {
    text-align: center;
  }
  .navbar ul.nav li button {
    margin: 1em 0;
  }
  .jumbotron {
    font-size: 14px;
    padding: 6em 0 4em;
  }
  .benefit {
    margin-bottom: 2em;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
  .jumbotron {
    font-size: 12px;
  }
  footer .pull-right {
    display: none;
  }
}
